@import '~bootstrap/scss/bootstrap';

.border {
  border: 3px solid $black;
  margin: 20px;
  padding: 20px;
}

  .img-fluid{
    max-width: 100%;
    height: auto;
  }

.container {
  flex-direction: row;
}

.success {
  background-color: #080;
  text-align: center;
}

.failure {
  background-color: #F00;
  text-align: center;
}

.getgame {
  background-color: #000F40;
}

.box {
  background-color: orange;
  border: 1px solid black;
  color: black;
  display: grid;
  height: 140px;
  text-align: center;
  width: 140px;
  font-size: 66pt;
}

.modal-content {
  background-color: gray;
}

body {
 background-image: url('../images/arcade.jpg');
 background-color: black;
 color: white;
 background-repeat: no-repeat;
 background-size: cover;
}


.hide {
  display: none;
}

.tiles {
  display: block;

}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
