@import '~bootstrap/scss/bootstrap';

.border {
  border: 3px solid $black;
  margin: 20px;
  padding: 20px;
}

.success {
  background-color: #080;
}

.failure {
  background-color: #F00;
}

.box {
  background-color: orange;
  border: 1px solid black;
  color: black;
  display: grid;
  height: 140px;
  text-align: center;
  width: 140px;
}

.hide {
  display: none;
}

.tiles {
  display: block;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
